body {
    margin: 0 auto;
    padding-top: 100px;
    background: #E20074;
}

.btn-primary {
    background-color: #e20074;
}

.input-task {
    color: #333333;
}

.todo-app-container {
    width: 652px;
}

.todoapp {
    padding: 10px;
}

.todoapp h1 {
    color: #fff;
}

#date-container {
    width: 150px;
}

.new-todo {
    padding-left: 10px;
}

.header {
    background-color: rgba(255,0,116,.8);
}

.footer {
    padding-bottom: 25px;
}

.add-task-container {
    padding-bottom: 20px;
}

.input-task ::placeholder {
    color: #333;
    opacity: 1;
}

.new-todo {
    border: 1px solid #999;
}

.small-text {
    font-size: 15px;
}